@model Microsoft.Store.PartnerCenter.Explorer.Models.CustomersModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Domain</th>
            <th>Relationship</th>
            <th></th>
        </tr>
    </thead>
    @Html.EditorFor(item => item.Customers)
</table>