@model IEnumerable<Microsoft.Store.PartnerCenter.Explorer.Models.DeploymentModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Identifier</th>
            <th>Name</th>
            <th>Provision State</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    @Html.EditorForModel()
</table>