@model Microsoft.Store.PartnerCenter.Explorer.Models.DeploymentModel

<tr>
    <td>
        @Html.DisplayFor(item => item.Id)
    </td>
    <td>
        @Html.DisplayFor(item => item.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.ProvisioningState)
    </td>
    <td>
        @Html.DisplayFor(item => item.Timestamp)
    </td>
</tr>