@{
    ViewBag.Title = "Home";
}

<div class="side-body padding-top">
    <div class="row">
        <div class="col-md-4">
            <h3>Getting started</h3>
            <p>
                This sample project shows how to utilize the Partner Center SDK, and various other Microsoft APIs, to provide details pertaining to the
                partner's customers.
            </p>
            <p><a class="btn btn-default" href="https://github.com/Microsoft/Partner-Center-Explorer/blob/master/README.md">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Partner Center SDK</h3>
            <p>The Partner Center SDK is designed for Cloud Solution Provider partners. With it, you can programmatically manage your customer accounts, place orders, manage subscriptions, and find support.</p>
            <p><a class="btn btn-default" href="https://msdn.microsoft.com/en-us/library/partnercenter/mt634708.aspx">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Training Course</h3>
            <p>This course is for Microsoft partners who are in the Cloud Solution Provider (CSP) program and who are interested in the Partner Center SDK and the Partner Center REST API.</p>
            <p><a class="btn btn-default" href="https://channel9.msdn.com/Series/cspdev">Learn more &raquo;</a></p>
        </div>
    </div>
</div>